body {
  background-color: rgb(200, 200, 255);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(53, 66, 79);
}

h1 {
  font-size: 30pt;
}

h2 {
  font-size: 15pt;
}

.text-center {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 50%;
}

@media screen and (min-width: 800px) {
  body {
    background-color: lightgreen;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: brown;
  }
}

.card {
  background-color: rgb(248, 255, 225);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.27);
  border-radius: 25px;
  margin: 20px 0px;
  padding: 20px;
}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px;
  border-radius: 20px;
  border: none;
}

.btn-blue:hover {
  background-color: #3e45a5;
}

.rounded-img {
  border-radius: 10px;
}

.list {
  font-size: 100px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.list a {
  color: #6B72E1;
}
