<% @projects.each do |project| %>
  <div class="card">
    <div class="project-name"><%=project.name.capitalize%></div>
    <div class="project-image"><img class=project-image-url src=<%=project.image_url%> alt="card image"></div>
    <div class="project-language"><box-icon name="purchase-tag-alt" color="white"></box-icon><%=project.language%></div>
  </div>
<% end %>

<script>
// script to add icons relative to languages used.

</script>
