<div class="footer">

  <div class="footer-column">
    <div class="footer-item">
      <a href='https://github.com/noxxaj'><box-icon type='logo' name='github' color='white'></box-icon>Github</a>
    </div>

    <div class="footer-item">
      <a href='https://www.linkedin.com/in/jaxxon-alta/'><box-icon name='linkedin-square' type='logo' color='white' ></box-icon>LinkedIn</a>
    </div>

    <div class="footer-item">
      <a href='https://lewagon-alumni.slack.com/team/U03C18ZG9DX'><box-icon name='slack' type='logo' color='white'></box-icon>Slack</a>
    </div>
  </div>

  <div class="footer-column">
    <div class="footer-item">
      <a href="mailto:hello@jaxxon.dev"><box-icon type='solid' name='envelope' color="white"></box-icon>hello@jaxxon.dev</a>
    </div>
  </div>

</div>
