<div class="footer">
  <div>
    <a href='https://github.com/noxxaj'><box-icon type='logo' name='github' color='white'></box-icon></a>
  </div>

  <div>
    <a href='https://www.linkedin.com/in/jaxxon-alta/'><box-icon name='linkedin-square' type='logo' color='white' ></box-icon></a>
  </div>

  <div>
    <a href='https://lewagon-alumni.slack.com/team/U03C18ZG9DX'><box-icon name='slack' type='logo' color='white'></box-icon></a>
  </div>

</div>
