<div class="wrapper">
  <div class="header">
    <a data-value="jaxxon.dev" id="logo" href="/">jaxxon.dev</a>
    <div class="header-row">
      <%= link_to 'Projects', '/projects', class: "button" %>
      <%= link_to 'About', '/about', class: "button" %>
      <%= link_to 'Contact', '/contact', class: "button button-cta" %>
    </div>
  </div>
</div>
