<div class="container justify-center flex">
  <div class="flex flex-col h-fit w-3/5 justify-center border p-10">
    <div class="p-1">
      <img class="rounded-full mx-auto border-secondary border-2 w-2/5" src="https://avatars.githubusercontent.com/u/63265212?v=4" alt="picture of jaxxon">
    </div>
    <div class="text-center leading-relaxed py-2 text-lg">
      <p class="text-2xl font-bold py-3">Hi, I'm jaxxon 👋</p>
      <p class="py-2">I am a junior developer from the Netherlands.
        I like to play my guitar, cook a good meal, and code.
        This site hosts a showcase of projects I have worked on.
        Feel free to have <%= link_to 'a look around!', projects_path, class: 'link' %></p>
      <p>If you want to work together on a project, <%= link_to 'please reach out.', contact_path, class: 'link' %></p>
    </div>
  </div>
</div>
